*.lck
*.kicad_sch.lck
*.kicad_pcb.lck
*.kicad_prl.lck
*.kicad_pro.lck
*~
*.autosave
*.kicad_sch.autosave
*.kicad_pcb.autosave
.history
*-backups
fp-info-cache
_fp-lib-table
sym-lib-table

m48t59y_pic18f-backups/


